<%- include('../partials/header') %>
<style>h1 {
  margin-top: 50px;
  font-size: 40px;
}
</style>
<h1><u>Flight List</u></h1>
<table>
  <thead>
<style>
th {
  padding-right: 50px;
  font-size: 30px;
}
</style>
    <tr>
      <th><u>Airline</th></u>
      <th><u>Airport</th></u>
      <th><u>Flight Number</th></u>
      <th><u>Departure</th></u>
    </tr>
  </thead>
  <tbody><br>
    <% flights.forEach(function(f) { %>
      <tr>
        <td><u><%= f.airline %></td></u>
        <td><u><%= f.airport %></td></u>
        <td><u><%= f.flightNo %></td></u>
        <td><u><%= f.departureDate %></td></u>
      </tr>
    <% }) %>
  </tbody>
</table>

